html {
    font-size: 100px;
}

html, body, .swiper-container, .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--http://www.swiper.com.cn--*/

.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .65rem;
    height: .65rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: showRotate 1s linear infinite both;
    animation: showRotate 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}

/*--page1 start--*/
.page1 {
    background: url(../images/pageBg1-2.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.page1 > img:nth-child(1) {
    width: 1.62rem;
    height: 1.56rem;
    position: absolute;
    top: .61rem;
    left: 1.01rem;
    opacity: 0;
}

.page1 > img:nth-child(2) {
    width: 3.2rem;
    height: .83rem;
    position: absolute;
    top: 2.67rem;
    right: 1.03rem;
    opacity: 0;
}

.page1 > img:nth-child(3) {
    width: 2.67rem;
    height: .36rem;
    position: absolute;
    top: 3.86rem;
    right: 1.06rem;
    opacity: 0;
}

.page1 > img:nth-child(4) {
    width: 1.21rem;
    height: .41rem;
    position: absolute;
    top: 4.5rem;
    right: 1.08rem;
    opacity: 0;
}

.page1 > img:nth-child(5) {
    width: 2.92rem;
    height: 2.77rem;
    position: absolute;
    top: 6.24rem;
    left: .21rem;
    opacity: 0;
}

.page1 > img:nth-child(6) {
    width: 2.81rem;
    height: 2.84rem;
    position: absolute;
    top: 7.2rem;
    left: 0;
    opacity: 0;
}

.page1 > img:nth-child(7) {
    width: 3.73rem;
    height: 3.73rem;
    position: absolute;
    top: 7.8rem;
    left: 1.82rem;
    opacity: 0;
}

.page1 > img:nth-child(8) {
    width: 3.76rem;
    height: 3.74rem;
    position: absolute;
    top: 7.85rem;
    right: .1rem;
    opacity: 0;
}

.page1 > img:nth-child(9) {
    width: .92rem;
    height: .4rem;
    position: absolute;
    top: 8.5rem;
    right: 2.4rem;
    opacity: 0;
}

.page1 > img:nth-child(10) {
    width: .96rem;
    height: .47rem;
    position: absolute;
    top: 10.35rem;
    left: 2.32rem;
    opacity: 0;
}

.page1 > img:nth-child(11) {
    width: 1rem;
    height: .41rem;
    position: absolute;
    top: 10.35rem;
    right: .53rem;
    opacity: 0;
}

.page1 > .pageChangeBtn {
    width: .3rem;
    height: .23rem;
    position: absolute;
    bottom: .2rem;
    left: 50%;
    margin-left: -.15rem;
    z-index: 10;
    opacity: 0;
}

.page1 > .pageChangeBtn > img {
    width: .3rem;
    height: .23rem;
}

#page1 > img:nth-child(7) {
    -webkit-animation: showInUp .4s both;
    animation: showInUp .4s both;
}

#page1 > img:nth-child(8) {
    -webkit-animation: slideInUp .3s .3s both;
    animation: slideInUp .3s .3s both;
}

#page1 > img:nth-child(1) {
    -webkit-animation: slideInDown .5s .7s both;
    animation: slideInDown .5s .7s both;
}

#page1 > img:nth-child(2) {
    -webkit-animation: showRight .5s 1 .3s both;
    animation: showRight .5s 1.3s both;
}

#page1 > img:nth-child(3) {
    -webkit-animation: flipInY .5s 1 .8s both;
    animation: flipInY .5s 1.8s both;
}

#page1 > img:nth-child(4) {
    -webkit-animation: flipInX .5s 2 .3s both;
    animation: flipInX .5s 2.3s both;
}

#page1 > img:nth-child(5) {
    -webkit-animation: showHide .5s 2.6s both;
    animation: showHide .5s 2.6s both;
}

#page1 > img:nth-child(6) {
    -webkit-animation: flipInY .5s 3.1s both;
    animation: flipInY .5s 3.1s both;
}

#page1 > img:nth-child(9), #page1 > img:nth-child(10), #page1 > img:nth-child(11) {
    -webkit-animation-name: showHide, swing;
    animation-name: showHide, swing;

    -webkit-animation-duration: .5s, .5s;
    animation-duration: .5s, .5s;

    -webkit-animation-delay: 3s, 3.5s;
    animation-delay: 3s, 3.5s;

    -webkit-transform-origin: top center;
    transform-origin: top center;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    animation-iteration-count: 0, 3;
    -webkit-animation-iteration-count: 0, 3;
}

#page1 .pageChangeBtn {
    -webkit-animation: showTranslate 1.5s infinite ease-in-out;
    animation: showTranslate 1.5s infinite ease-in-out
}

/*--page2 start--*/
.page2 {
    background: #1f1f1f;
    height: 100%;
}

.page2Con {
    width: 100%;
    height: 100%;
    background: url("../images/pageBg2.jpg") no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.page2Con > .pic div {
    width: 2.83rem;
    height: 2.83rem;
    border: .04rem dashed #ffd202;
    border-radius: 50%;
    position: absolute;
    top: .98rem;
    left: .88rem;
    padding: .05rem;
}

.page2Con > .pic img {
    width: 2.77rem;
    height: 2.77rem;
    border-radius: 50%;
    position: absolute;
    top: 1.08rem;
    left: .98rem;
}

.page2Con > h2, .page2Con > h3 {
    font-size: .52rem;
    color: #fff256;
    position: absolute;
    font-weight: normal;
    top: 4.25rem;
    line-height: .6rem;
}

.page2Con > h2 {
    left: .86rem;
}

.page2Con > h3 {
    left: 3.02rem;
}

.page2Con ul {
    width: 100%;
    position: absolute;
    top: 5.88rem;

}

.page2Con li {
    width: 100%;
    color: #fff256;
    position: absolute;
    left: .84rem;
}

.page2Con li img, .page2Con li span {
    display: inline-block;
    vertical-align: middle;
}

.page2Con li img {
    width: .5rem;
    height: .5rem;
}

.page2Con li span {
    font-size: .4rem;
    line-height: .5rem;
    padding-left: .35rem;
}

.page2Con li:nth-child(1) {
    top: 0;
    opacity: 0;
}

.page2Con li:nth-child(2) {
    top: .9rem;
    opacity: 0;
}

.page2Con li:nth-child(3) {
    top: 1.8rem;
    opacity: 0;
}

.page2Con li:nth-child(4) {
    top: 2.7rem;
    opacity: 0;

}

.page2Con li:nth-child(5) {
    top: 3.6rem;
    opacity: 0;
}

.page2Con p {
    position: absolute;
    left: .8rem;
    color: #fff;
    font-size: .3rem;
    line-height: .45rem;
}

.page2Con p > em {
    width: .25rem;
    height: .25rem;
    display: block;
    float: left;
    border-radius: 50%;
    background: #fff256;
    margin-top: .1rem;
}

.page2Con p > span {
    display: block;
    float: left;
    width: 4.8rem;
    margin-left: .2rem;
}

.page2Con p:nth-last-child(2) {
    top: 10.66rem;
    opacity: 0;
}

.page2Con p:last-child {
    top: 11.85rem;
    opacity: 0;
}

.page2 > .pageChangeBtn {
    width: .3rem;
    height: .23rem;
    position: absolute;
    bottom: .2rem;
    left: 50%;
    margin-left: -.15rem;
    z-index: 10;
    opacity: 0;
}

.page2 > .pageChangeBtn > img {
    width: .3rem;
    height: .23rem;
}
#page2 li:nth-child(1) {
    -webkit-animation: fadeInRightBig 1s both;
    animation: fadeInRightBig 1s both;
}

#page2 li:nth-child(2) {
    -webkit-animation: fadeInRightBig 1s .1s both;
    animation: fadeInRightBig 1s .1s both;
}

#page2 li:nth-child(3) {
    -webkit-animation: fadeInRightBig 1s .2s both;
    animation: fadeInRightBig 1s .2s both;
}

#page2 li:nth-child(4) {
    -webkit-animation: fadeInRightBig 1s .3s both;
    animation: fadeInRightBig 1s .3s both;
}

#page2 li:nth-child(5) {
    -webkit-animation: fadeInRightBig 1s .4s both;
    animation: fadeInRightBig 1s .4s both;
}

#page2 .page2Con > .pic div {
    -webkit-animation: showRotate 2s linear infinite both;
    animation: showRotate 2s linear infinite both;
}

#page2 .pageChangeBtn {
    -webkit-animation: showTranslate 1.5s infinite ease-in-out;
    animation: showTranslate 1.5s infinite ease-in-out
}

/*--page3start--*/
.page3 {
    background: url("../images/pageBg3.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.page3 h3, .page4 h3 {
    font-size: .7rem;
    position: absolute;
    top: .5rem;
    left: .87rem;
    color: #fff;
    font-weight: 200;
    opacity: 0;
}

.page3 li p {
    font-size: .34rem;
    color: #fff256;
    line-height: .6rem;

}

.page3 li p.white {
    color: #fff;
}

.page3 li p span {
    padding-left: .15rem;
}

.page3 li {
    position: absolute;
    left: 1.3rem;
    opacity: 0;
}

.page3 li:nth-child(1) {
    top: 2.8rem;
}

.page3 li:nth-child(2) {
    top: 5.8rem;
}

.page3 li:nth-child(3) {
    top: 8.3rem;
}

.page3 > div.page2But {
    position: absolute;
    left: .45rem;
    top: .4rem;
}

.page3 > div.page2But > em {
    border-left: 2px dashed #fff256;
    width: .13rem;
    height: 12rem;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;

}

.page3 > div.page2But > img {
    position: absolute;
    left: -.12rem;
    top: 2.6rem;
    z-index: 2;
    width: .27rem;
    height: .27rem;
    opacity: 0;
}

.page3 > div.page2But > img:nth-child(1) {
    top: 1.9rem;
    background: red;
}

.page3 > div.page2But > img:nth-child(2) {
    top: 5.6rem;
}

.page3 > div.page2But > img:nth-child(3) {
    top: 8.1rem;
}

.page3 > .pageChangeBtn {
    width: .3rem;
    height: .23rem;
    position: absolute;
    bottom: .2rem;
    left: 50%;
    margin-left: -.15rem;
    z-index: 10;
    opacity: 0;
}

.page3 > .pageChangeBtn > img {
    width: .3rem;
    height: .23rem;
}

#page3 h3 {
    -webkit-animation: zoomIn .5s both;
    animation: zoomIn .5s both;
}

#page3 li:nth-child(1) {
    -webkit-animation: showLeft .7s .5s both;
    animation: showLeft .7s .5s both;
}

#page3 li:nth-child(3) {
    -webkit-animation: showLeft .7s .5s both;
    animation: showLeft .7s .5s both;
}

#page3 li:nth-child(2) {
    -webkit-animation: showRight .5s .5s both;
    animation: showRight .5s .5s both;
}

#page3 div.page2But > img {
    -webkit-animation: flash .5s .7s both;
    animation: flash .5s .7s both;
}

#page3 > div.page2But > em {
    -webkit-animation: showUp .7s 1.2s both;
    animation: showUp .7s 1.2s both;
}

#page3 .pageChangeBtn {
    -webkit-animation: showTranslate 1.5s infinite ease-in-out;
    animation: showTranslate 1.5s infinite ease-in-out
}

/*--page4start--*/
.page4 {
    background: url("../images/pageBg4.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.page4 > img {
    width: 2.68rem;
    height: 1.71rem;
    display: block;
    position: absolute;
    opacity: 0;
}

.page4 > img:nth-child(odd) {
    right: .6rem;
    top: 10.8rem;
}

.page4 > img:nth-child(even) {
    left: .6rem;
    top: 10.8rem;
}

.page4 > img:nth-child(8), .page4 > img:nth-child(9) {
    top: 9.8rem;
}

.page4 > .pageChangeBtn {
    width: .3rem;
    height: .23rem;
    position: absolute;
    bottom: .2rem;
    left: 50%;
    margin-left: -.15rem;
    z-index: 10;
    opacity: 0;
}

.page4 > .pageChangeBtn > img {
    width: .3rem;
    height: .23rem;
}

#page4 > img:nth-child(7) {
    -webkit-animation: showOutUp .4s both;
    animation: showOutUp .4s both;
}

#page4 > img:nth-child(6) {
    -webkit-animation: showOutUp .4s .1s both;
    animation: showOutUp .4s .1s both;
}

#page4 > img:nth-child(5) {
    -webkit-animation: showOuterUp .3s .4s both;
    animation: showOuterUp .3s .4s both;
}

#page4 > img:nth-child(4) {
    -webkit-animation: showOuterUp .3s .5s both;
    animation: showOuterUp .3s .5s both;
}

#page4 > img:nth-child(3) {
    -webkit-animation: showOutestUp .3s .7s both;
    animation: showOutestUp .3s .7s both;
}

#page4 > img:nth-child(2) {
    -webkit-animation: showOutestUp .2s .8s both;
    animation: showOutestUp .2s .8s both;
}

#page4 h3 {
    -webkit-animation: zoomIn .5s 1.1s both;
    animation: zoomIn .5s 1.1s both;
}

#page4 .pageChangeBtn {
    -webkit-animation: showTranslate 1.5s infinite ease-in-out;
    animation: showTranslate 1.5s infinite ease-in-out
}

/*--page5start--*/
.page5 {
    background: url("../images/pageBg5.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.page5 > img {
    position: absolute;
    display: block;
    opacity: 0;
}

.page5 > img:nth-child(1) {
    top: 1.4rem;
    left: 2.09rem;
    width: 3.32rem;
    height: 3.32rem;
}

.page5 > img:nth-child(2) {
    top: 5.7rem;
    left: .82rem;
    width: 7rem;
    height: .71rem;
}

.page5 > img:nth-child(3) {
    top: 6.98rem;
    left: .82rem;
    width: 7rem;
    height: .53rem;
}

.page5 > img:nth-child(4) {
    top: 9rem;
    left: 1.37rem;
    width: 4.76rem;
    height: 1.13rem;
}

.page5 > .pageChangeBtn {
    width: .3rem;
    height: .23rem;
    position: absolute;
    bottom: .2rem;
    left: 50%;
    margin-left: -.15rem;
    z-index: 10;
    opacity: 0;
}

.page5 > .pageChangeBtn > img {
    width: .3rem;
    height: .23rem;
}

#page5 > img:nth-child(1) {
    -webkit-animation: showScale .7s both;
    animation: showScale .7s both;
}

#page5 > img:nth-child(2) {
    -webkit-animation: rotateInUpLeft .5s .7s both;
    animation: rotateInUpLeft .5s .7s both;
}

#page5 > img:nth-child(3) {
    -webkit-animation: rotateInUpLeft .5s 1.2s both;
    animation: rotateInUpLeft .5s 1.2s both;
}

#page5 > img:nth-child(4) {
    -webkit-animation: flip 1s 1.7s both;
    animation: flip 1s 1.7s both;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

#page5 .pageChangeBtn {
    -webkit-animation: showTranslate 1.5s infinite ease-in-out;
    animation: showTranslate 1.5s infinite ease-in-out
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInRightBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRightBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes slideInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        /*visibility: visible;*/
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        /*visibility: visible;*/
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50%, 100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50%, 100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash {
    50%, to {
        opacity: 1;
    }

    from, 25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {

    50%, to {
        opacity: 1;
    }

    from, 25%, 75% {
        opacity: 0;
    }
}

@-webkit-keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes flip {
    from {
        opacity: 0;
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        opacity: 1;
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        opacity: 1;
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        opacity: 1;
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        opacity: 0;
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        opacity: 1;
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        opacity: 1;
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        opacity: 1;
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes slideInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes swing {
    20% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        opacity: 1;
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes showLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-7.5rem);
        transform: translate(-7.5rem);
    }

    50% {
        opacity: .5;
        -webkit-transform: translate(.5rem);
        transform: translate(.5rem);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(-.5rem);
        transform: translate(-.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0rem);
        transform: translate(0rem);
    }
}

@-webkit-keyframes showLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-7.5rem);
        transform: translate(-7.5rem);
    }

    50% {
        opacity: .5;
        -webkit-transform: translate(.5rem);
        transform: translate(.5rem);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(-.5rem);
        transform: translate(-.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0rem);
        transform: translate(0rem);
    }
}

@-webkit-keyframes showRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(7.5rem);
        transform: translate(7.5rem);
    }

    50% {
        opacity: .5;
        -webkit-transform: translate(-.5rem);
        transform: translate(-.5rem);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(.5rem);
        transform: translate(.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0rem);
        transform: translate(0rem);
    }
}

@keyframes showRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(7.5rem);
        transform: translate(7.5rem);
    }

    50% {
        opacity: .5;
        -webkit-transform: translate(-.5rem);
        transform: translate(-.5rem);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(.5rem);
        transform: translate(.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0rem);
        transform: translate(0rem);
    }
}

@-webkit-keyframes showUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-13.34rem);
        transform: translateY(-13.34rem);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@-webkit-keyframes showUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-13.34rem);
        transform: translateY(-13.34rem);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@-webkit-keyframes showInUp {
    0% {
        opacity: .5;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(1.5rem);
        transform: translateY(1.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@keyframes showInUp {
    0% {
        opacity: .5;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(1.5rem);
        transform: translateY(1.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}

@-webkit-keyframes showOutUp {
    0% {
        opacity: .5;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: .8;
        -webkit-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-2.5rem);
        transform: translateY(-2.5rem);
    }
}

@keyframes showOutUp {
    0% {
        opacity: .5;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: .8;
        -webkit-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-2.5rem);
        transform: translateY(-2.5rem);
    }
}

@-webkit-keyframes showOuterUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: .5;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }
}

@keyframes showOuterUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: .5;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
    }
}

@-webkit-keyframes showOutestUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: .5;
        -webkit-transform: translateY(-6.5rem);
        transform: translateY(-6.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-7.5rem);
        transform: translateY(-7.5rem);
    }
}

@keyframes showOutestUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-19.8rem);
        transform: translateY(-19.8rem);
    }
    70% {
        opacity: .5;
        -webkit-transform: translateY(-6.5rem);
        transform: translateY(-6.5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-7.5rem);
        transform: translateY(-7.5rem);
    }
}

@-webkit-keyframes showScale {
    0% {
        opacity: .5;
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}

@keyframes showScale {
    0% {
        opacity: .5;
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes showHide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes showHide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes showRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes showRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes showTranslate {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-.2rem);
        transform: translateY(-.2rem);
    }
}

@keyframes showTranslate {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-.2rem);
        transform: translateY(-.2rem);
    }
}